 /* Color palette used */
        /* https://colorhunt.co/palette/eceff400ad7cfbd490475762 */

        body {
            background-color: #FBD490;
            display: grid;
            justify-content: center;
            margin: 0px;
        }

        .box {
            background-size: auto;
            box-shadow: -10px 10px 5px black;
            max-width: 480px;
            width: fit-content;
            min-width: 30vw;
            margin: 50px;
            border-radius: 7px;
            
            
            
        }
        .info {
            text-align: right;
            padding: 1rem;
            background-color:#ECEFF4;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            
        }
        ul {
            /* background-color: #00AD7C; */
            padding-bottom: 60px;
            padding-top: 60px;
            padding: 40px;
            list-style: none;
            font-family: 'Special Elite', cursive;
            font-size: x-large;
            text-align: left;
            margin: 0px;
        }

        li {
            line-height: 1;
            background-color: #ECEFF4;
            padding: 20px;

        }

        .main {
            display: grid;
            justify-content: center;
            align-content: center;
            
        }