{% for poem in poems %}
    {% if loop.last %}
        <ul hx-get="/mc" hx-trigger="revealed" hx-swap="afterend" style="background-color: rgb({{poem.color[0]}},{{poem.color[1]}},{{poem.color[2]}});">
        {% for line in poem["lines"] %}

        <li>{{line}} </li>
        {% endfor %}
        </ul>
    
{% else %}
    
<ul style="background-color: rgb({{poem.color[0]}},{{poem.color[1]}},{{poem.color[2]}});">

{% for line in poem["lines"] %}
<li>{{line}} </li>

{% endfor %}
</ul>

{% endif %}

{% endfor %}
